<div class="register-form-container">
  <h2 class="register-form-title">Registration</h2>
  <form (ngSubmit)="register()">
    <div class="register-form-group">
      <label for="username">Name</label>
      <input class="register-form-input" type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="register-form-group">
      <label for="email">E-mail</label>
      <input class="register-form-input" type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="register-form-group">
      <label for="password">Password</label>
      <input class="register-form-input" type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>

    <div class="register-form-actions">
      <button class="register-button" type="submit">Register</button>
    </div>

    <div class="register-form-actions">
      <button class="register-button" (click)="goBackToLogin()">Login</button>
    </div>

  </form>
</div>
